<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <% @users.each do  |f| %>
	  <% if f.id == @assigned_project.user_id %>
	  	<%= f.name %>
	  <% end %>
  <% end %>
</p>

<p>
  <b>Project:</b>
  	<% @projects.each do |project| %>
  		<% if project.id == @assigned_project.project_id %>
  			<%= project.name %>
  		<% end %>
  	<% end %>
</p>


<%= link_to 'Edit', edit_assigned_project_path(@assigned_project) %> |
<%= link_to 'Back', assigned_projects_path %>
